<!--
  @overview
 
  @version 
  @author xuyuanxiang
  @date 15/3/10
  ------------------
  @overview
  @version 
  @modifier 
  @date 
  ------------------
 -->
<form name="messageEditForm" role="form" ng-submit="doSubmit()">
    <header class="bar bar-nav">
        <a href="#/message" class="btn btn-link btn-nav pull-left">
            <span class="icon icon-left-nav"></span>
            留言板
        </a>
        <button type="submit" class="btn btn-positive btn-nav pull-right">
            保存
        </button>
        <h1 class="title">留言</h1>
    </header>
    <div class="content">
        <input type="text" name="name" placeholder="您的称呼" ng-disabled="isReadonly"
               ng-model="message.from" ng-required="true"/>
        <input type="text" name="contact" placeholder="您的联系方式"
               ng-hide="isReadonly" ng-disabled="isReadonly"
               ng-model="message.concat" ng-required="true"/>
        <textarea name="content" placeholder="留言内容" ng-disabled="isReadonly"
                  ng-model="message.content" ng-required="true"></textarea>
        <input type="datetime" name="created_date" ng-model="message.created_date"
               ng-show="isReadonly && message.created_date" readonly/>
    </div>
</form>
