<!--
  @overview
 
  @version 
  @author xuyuanxiang
  @date 15/3/8
  ------------------
  @overview
  @version 
  @modifier 
  @date 
  ------------------
 -->
<form name="registerForm" ng-submit="doRegister()">
    <input type="email" name="email" placeholder="邮箱"
           ng-model="email" ng-required="true">
    <input type="password" name="password" placeholder="密码"
           ng-model="password" ng-required="true">
    <button type="submit" class="btn btn-positive btn-block">注册</button>
</form>