<!DOCTYPE html>
<html lang="zh-cn" ng-app="cn.xuyuanxiang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords"
          content="徐远翔,iOS,IOS,Swift,Objective-c,手机,移动端,移动开发,前端开发,网站开发,Web,web,APP,app,Angular,Angular JS,Bootstrap,Ratchet,Java Script,javascript,JavaScript,Html,Html5,CSS,HTML,HTML5,css3,css,CSS3">
    <meta name="description" content="徐远翔个人网站，诚接网站开发，移动端网站开发，iPhone App原生开发。">
    <!-- build:css -->
    <link rel="stylesheet" href="../dist/css/www.xuyuanxiang.cn-1.0.0.min.css"/>
    <!-- endbuild -->
</head>
<body ng-controller="RootController">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a href="#" class="navbar-brand">
        徐远翔
    </a>

    <form name="signInForm" class="navbar-form navbar-right" ng-submit="doLogin()" role="form">
        <div class="form-group" ng-class="signInForm.email.$error.email?'has-error':''">
            <input type="email" name="email" class="form-control" placeholder="电子邮箱"
                   tabindex="1"
                   ng-model="email" ng-required="true"/>
        </div>
        <div class="form-group" ng-class="signInForm.password.$error.pattern?'has-error':''">
            <input type="password" name="password" class="form-control" placeholder="密码"
                   tabindex="2"
                   ng-model="password" ng-required="true"
                   ng-pattern="/^([a-zA-Z0-9]|[_]){6,20}$/"/>

            <div class="tooltip bottom" ng-show="signInForm.password.$error.pattern">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                    密码只能是6-20位由英文字母、数字或“_”组成的字串。
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" tabindex="3">登录</button>
            <a href="#/register" class="btn btn-primary" tabindex="4">注册</a>
        </div>
    </form>
</nav>
<div class="container ui-view"></div>
<!-- build:js -->
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/angular-animate/angular-animate.min.js"></script>
<script src="../vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="app/home/home.js"></script>
<script src="app/register/register.js"></script>
<script src="application.js"></script>
<!-- endbuild -->
</body>
</html>