@import "variables";

.form-group.has-error {
  .tooltip {
    opacity: 1;
    filter: alpha(opacity=100);
    .tooltip-arrow {
      border-bottom-color: $btn-danger-border;
    }
    .tooltip-inner {
      background-color: $btn-danger-bg;
    }
  }
}